/*=================================
|   |   |   | Bootstap 3 Media Queries
=====================================*/

/* Large Devices (Desktop & Laptops)*/
@media (min-width: 1200px) {
    
    #home-heading h1 {
        color: blue;
    }
}

/* Medium Divices (Lanscape Tablets & Medium Desktops )*/
@media (min-width: 992px) and (max-width: 1199px) {
    
    #home-heading h1 {
        color: red;
    }
}

/* Small Divices (Portrait Tablets & Small Desktops )*/
@media (min-width: 768px) and (max-width: 991px) {
    
    #home-heading h1 {
        color: yellow;
    }
}

/* Extra Small Divices (Landscape Phone & Portrait Tablets )*/
@media (max-width: 767px) {
    
    #home-heading h1 {
        color: green;
    }
}