/* ==================================================
    Defalut Theme
    -------------------------------------------------
    Fonts: Releway & Open Sans
    -------------------------------------------------
    Colors: 
        Moon Yellow:            #f4c613
        Gray:                   #212226
        White Smoke:            #f4f4f4
        White:                  #fff
        Black:                  #000
==================================================*/

.col-bg-red {
    background-color: red;
}

.col-bg-green {
    background-color: green;
}

.col-bg-blue {
    background-color: blue;
}


/*=================================
|   |   |   | Html, body
=====================================*/

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;

}

section {
    background-color: #fff;
    overflow: hidden;
}



#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url(../img/preloader/preloader.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

#home {
    background: none;
    height: 100%;
}

#home-bg-video {
    background-color: red;
}

/*=================================
|   |   |   | Home
=====================================*/

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url(../video/solo.jpg) no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* 하나의 덩어리를 100퍼센트로 하고 그것을 table로 지정 
   그런다음 그 안의 child div 에서 display: table-cell 로 하고 middle 로 하면 중앙에 위치하게 된다
*/

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
}

#home-heading h1 span {
    color: #f4c613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}

/*=================================
|   |   |   | Buttons
=====================================*/

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

.btn-yellow {
    background: #f4c613;
    color: #fff;
}

.btn-home:hover,
.btn-home:focus {
    background: #f4c613;
    color: #fff;
    border: 1px solid #f4c613;
}

/*=================================
|   |   |   | Arrow Down
=====================================*/

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}

/*=================================
|   |   |   | Content Boxes
=====================================*/

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

/*=================================
|   |   |   | Vertical Headings
=====================================*/

.vertical-heading h5 {
    color: #f4c613;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 80px;
    left: -50px;
}

.vertical-heading h2,
.horizontal-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

.vertical-heading h2 {
    padding: 0 0 0 35px;
}


.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading h5 {
    font-size: 16px;
    color: #f4c613;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2 {
    margin: 0;
}



/*=================================
|   |   |   | About 01
=====================================*/

#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}

#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

.about-item:hover {
    background-color: #f4c613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-30px);
}

/*Smooth transition*/

.about-item,
.about-item i,
.about-item h3,
.about-item p,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}


/*=================================
|   |   |   | Team
=====================================*/

#team-left .vertical-heading {
    min-height: 160px;
}

.team-member {
    margin: 8px;
    position: relative;

}

.team-member-overlay {
    background-color: rgba(30, 30, 30, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 40px;
}

.team-member-info h6 {
    color: #f4c613;
    font-size: 16px;
    margin: 0;
}

.team-member-info p {
    color: #fff;
    font-size: 14px;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}


/*=================================
|   |   |   | Social Icons
=====================================*/

ul.social-list {
    padding: 0;
    margin-top: 20px;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

ul.social-list li:nth-child(1) a:hover {
    background: #3b5998;
    border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
    background: #00aced;
    border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
    background: #bc2a8d;
    border-color: transparent;
}

.owl-carousel [class*=owl-] {
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}

/*=================================
|   |   |   | Skill Section
=====================================*/

.skill {
    margin-bottom: 30px;
}

.skill h4 {
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}

.progress {
    margin: 0;
    height: 25px;
    border-radius: 0;
    background: #f4f4f4;
    overflow: visible;
}

.progress-bar {
    background-color: #f4c613;
    position: relative;
}

/*progress bar 안에있는 span요소를 이용해서 프로그레스바 밖에 사각박스를 표시한다. */

.progress-bar span {
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    background: black;
    position: absolute;
    padding: 2.5px;
    left: 97%;
    top: -40px;
}

.progress-bar span:before {
    content: "";
    border-top: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 16%;
}

/*=================================
|   |   |   | Statements
=====================================*/

#statement {
    background: url(../img/tech/tech-quote.jpg) center fixed no-repeat;
    background-size: cover;

    /*background imageを固定させる
     background-attachment: fixed;
    */
}

#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.5);
}

#tech-statement h3 {
    color: #fff;
    font-size: 28px;
}

#tech-statement p {
    color: #f4c613;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    margin-top: 8px;
}

/*=================================
|   |   |   | Service 01
=====================================*/

#service-01 img {
    margin: 60px 0;
}

.service {
    margin: 35px 0;
}

.service .icon {
    font-size: 42px;
    margin: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.service:hover .icon {
    color: #f4c613;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);

}

.service h5 {
    font-size: 14px;
    text-transform: uppercase;
    color: #f4c613;
    margin: 0 0 6px 0;
}

.service:hover h5 {
    color: #212226;
}

.service h4 {
    font-size: 24px;
    margin: 0 0 8px 0;
}

.service p {
    line-height: normal;
}

/*=================================
|   |   |   | Service 02 (Responsive tabs)
=====================================*/

#service-02 {
    background-color: #f4f4f4;
}

#services-tabs ul {
    margin-bottom: 40px;
}

#services-tabs ul li {
    padding: 5px 30px;
}

#services-tabs ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}

#services-tabs:hover ul li.r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    -webkit-transition: border-color 300ms linear;
    transition: border-color 300ms linear;
}

/*=================================
|   |   |   | Portfolio Sections
=====================================*/

#portfolio {
    padding-bottom: 160px;
}

#portfolio .vertical-heading {
    margin-bottom: 50px;
}

.portfolio-item {
    overflow: hidden;
    position: relative;
}

/*
class*=col-は　col- から始まるclassすべてをselectする意味
*/

.row.no-gutters [class*=col-] {
    padding: 0;
}

/*=================================
|   |   |   | Portfolio Sections
=====================================*/

#isotope-filters {
    margin-bottom: 10px;
    padding: 20px 25px 20px 0;
}

#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 35px;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
}

#isotope-filters button.active span {
    color: #f4c613;
    border-bottom: 3px solid #f4c613;
    outline: 0;
}

/*Img Zoom Effect*/

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}


.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(17, 17, 17, 0.8);
    cursor: zoom-in;
    opacity: 0;
    transition: all 0.8s ease;
}

/* Item Details Effect */

.portfolio-item-detail {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-detail h3 {
    color: #f4c613;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
}

.portfolio-item-detail span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 10px auto 5px auto;
}

.portfolio-item-detail p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
}

/* Show Overlay on mouse over */

.portfolio-item:hover .portfolio-item-detail h3 {
    transform: translateY(0);
    transition: all 200ms linear;
}

.portfolio-item:hover .portfolio-item-detail p {
    transform: translateY(0);
    transition: all 200ms linear;
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

/*=================================
|   |   |   | Test Imonials
=====================================*/

#testimonials {
    background: #f4f4f4;
    padding-bottom: 45px;
    overflow: visible;
}

#testimonials .vertical-heading {
    padding: 80px 0;
}

#testimonial-slider {
    background: #f4c613;
    top: -120px;
}

.testimonial {
    padding: 20px 45px 0 45px;
    color: #fff;
}

.testimonial .row {
    margin-bottom: 25px;
}

#testimonials .starts {
    font-size: 18px;
    margin: 25px 0 10px 0;
}

#testimonials h3 {
    font-size: 32px;
    line-height: 35px;
}

.testimonial p {
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.author .author-name-des {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
}

.author .author-name-des p {
    margin: 5px 0;
}

/*=================================
|   |   |   | Pricing
=====================================*/


.pricing-table {
    -webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 32px 20px;
    -webkit-transition: all 400ms linear;   
    transition: all 400ms linear;
}

.pricing-table:hover {
    background: #f4c613;
    
}

.pricing-table .type h4 {
    color: #f4c613;
    font-size: 24px;
    margin-bottom: 25px;
}


.pricing-table .price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    margin-bottom: 10px;
}

.pricing-table .price h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin: 0 0 0 10px;
}

.pricing-table .price h2 span {
    font-family: "Raleway", sans-serif;
}

.pricing-table .price h2 span.dollar {
    font-size: 18px;
    font-weight: 100;
    
}

























